---
import Layout from "../layouts/Layout.astro";
import TypedBlogPost from "src/components/TypedBlogPost.astro";
import { siteConfig } from "../config/site-config";
import { getCollection } from "astro:content";

const blogPost = await getCollection("blog");
---

<Layout title="Mauricio's Blog">
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 mx-auto pt-5">
      <h1
        class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
      >
        {siteConfig.title}
      </h1>

      <a href="blog/1" class="text-gray-500 inline-block mt-2 hover:underline">Blog Paginado</a>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-8 md:grid-cols-2">
        {blogPost.map((post) => <TypedBlogPost post={post} />)}
      </div>
    </div>
  </section>
</Layout>
