---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import LikeButton from "../../components/likes/LikeButton.vue"
import LikeButtonActions from "../../components/likes/LikeButtonActions.vue";
export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: { slug: any; }) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div style="height: 50px;">
    <!-- <LikeButton postId={post.slug} client:only="vue" /> -->
    <LikeButtonActions postId={post.slug} client:only="vue"/>
  </div>
  
  <Content />
</BlogPost>

