---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" name="Mauricio Chacon">
  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <script>
    const currentTime: string = new Date().toLocaleTimeString();
    const currentTimeElement = document.querySelector(
      "#current-time"
    ) as HTMLParagraphElement;
    currentTimeElement.innerText = `Momento actual real: ${currentTime}`;
  </script>
</Layout>
