---
import Layout from "@layouts/Layout.astro";
import Title from "@components/Title.astro";
import { FavoritePokemons } from "@components/FavoritePokemons";
const { title } = Astro.props;
---

<Layout title={title}>
  <Title>Favoritos</Title>
  <FavoritePokemons client:only="solid-js" />
</Layout>
